# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Runtime data
pids
*.pid
*.pid.lock

# Dependency directories
node_modules/
dist/
dist-ssr/

# Production build output
.build/

# dotenv environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor settings and system files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db
*.swp
*.suo
*.ntvs*
*.njsproj
*.sln

# Optional npm cache directory
.npm/

# Yarn v2
.yarn/
.pnp.*
.pnp.js

# Bun files
.bun/

# Mac system files
.DS_Store

# Debug log files
*.log

# Compiled TypeScript files
*.tsbuildinfo
